<!doctype html>
<html lang="en">
    <head>
        <link rel="stylesheet" href="../static/css/style.css">
        <title>Crozaint - Metrics </title>
    </head>
    <body>
            <nav class="navbar fixed-top navbar-expand-lg">
                <div class="container">
                    <a class="navbar-brand" ><img src= "../static/img/logo.png" class="header-logo" > <br>support@crozaint.com</a>
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        
                    </div>
                </div>
            </nav>
            <div class="container">
                    <div class="heading-content"><br><br>
                        <center><h2>Weekly Report for cloudwatch</h2></center>
                    </div>
                        <div class="hero-container heading-content ">
                                <div class="hero-details">
                                   <h2>Instance name: CPU</h2>
                                    <img src="../static/img/i-0636f2624f9c6d0fc.png">
                                </div>
                        </div>  
            </div>
            
            <div class="footer-margin">
                    <footer class="card-footer bg-light footer-font-style text-muted footer-position"> jkbjhbjukhblckjnsnlicjndlisk c kklsdc;l  ;lGithub</a>
                    </footer>
            </div>
           
    </body>
    
</html>